* {
  margin: 0;
}

.usage-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 700px;
}

.usage-title {
  font-weight: 700;
  font-size: 16px;
}

.usage-box {
  background-color: #FFDDDD;
  padding: 8px 16px;
  border-radius: 25px;
  border: 2px solid #AA1E1E;
  display: flex;
  justify-content: center;
  gap: 16px;
  overflow: hidden;
  text-overflow: clip;
  font-size: 14px;
}

.usage-note {
  font-size: 14px;
}

@media screen and (min-width: 576px) {
  .usage-title {
    font-size: 24px;
  }

  .usage-box, .usage-note {
    font-size: 16px;
  }
}
