.spinner{
    display: flex;
    flex: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.animation{
    max-width: 300px;
}

.spinner-title{
    color: var(--red);
    font-size: var(--large-font-mobile);
    transform: translateY(-50px);
}

@media screen and (min-width: 768px) {
    .spinner-title{
        font-size: var(--large-font-desktop);
    }
}