.action-bars{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    margin-bottom: 2%;
}
.cards-section{
    display: flex;
    flex-flow: wrap;
    margin: 2% 0;
    padding: 8px;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .action-bars{
        flex-flow: row;
        justify-content: space-between;
        margin: 1% 4% 2%;
    }
}