.code-card{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin: 16px;
    padding: 25px;
    align-items: center;
}
.code-card-img{
    width: 160px;
    height: 150px;
    border-radius: 50%;
}
.card-shadow{
    opacity: 0;
    height: 8px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 0;
}

.code-card:hover{
    transform: translate(0, -20px);
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.code-card:hover .card-shadow{
    background-color: black;
    opacity: 0.2;
    box-shadow: currentColor;
    border-radius: 75%;
    transition: ease-in-out 0.5s;
}

@media screen and (min-width: 320px) {
    .code-card-title{
        font-size: var(--large-font-mobile);
        font-weight: bold;
        color: var(--red);
        margin-bottom: 5px;
    }
    .code-title{
        font-size: var(--side-main-desktop);
        font-weight: bold;
        color: var(--red);
        margin-top: 5px;

    }
}