.code-card{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin: 5px 16px;
    padding: 8px;
    align-items: center;
    max-width: 100px;
}
.code-card-img{
    width: 100px;
    height: 90px;
    border-radius: 50%;
}
.code-card-title, .code-title{
    color: var(--red);
    font-weight: bold;
}
.code-card-title{
    font-size: var(--large-font-mobile);
}
.code-title{
    font-size: var(--side-main-mobile);
}
.card-shadow{
    visibility: hidden;
    margin-top: 10px;
    height: 8px;
    width: 80%;
}

.code-card:hover{
    transform: translate(0, -20px);
    transition: ease-in-out 0.4s;
    cursor: pointer;
}

.code-card:hover .card-shadow{
    visibility: visible;
    display: block;
    background-color: black;
    opacity: 0.2;
    box-shadow: currentColor;
    border-radius: 75%;
    margin: auto;
    transition: ease-in-out 0.4s;
}

@media screen and (min-width: 768px) {
    .code-card-title{
        font-size: var(--large-font-mobile);
        margin-bottom: 5px;
    }
    .code-title{
        font-size: var(--side-main-desktop);
        margin-top: 5px;

    }
    .code-card{
        max-width: 100%;
    }

    .code-card-img{
        width: 160px;
        height: 150px;
    }
}