*{
    margin: 0;
}
.codes {
    display: block;
}
select {
    display: block;
    width: 135px;
    height: 36px;
    border: 2px solid var(--red);
    border-radius: 12px;
    font-family: 'Ubuntu', sans-serif;
    font-size: var(--side-main-mobile);
    font-weight: bold;
    padding: 5px 8px;
}

select option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

.btn-code {
    display: none;
}

@media screen and (min-width: 768px) {
    .codes {
        display: flex;
        justify-content: space-around;
    }
    select {
        display: none;
        font-family: 'Ubuntu';
    }
    .btn-code {
        display: block;
        min-width: 100px;
        max-width: 157px;
        width: 8%;
        height: 47px;
        border-radius: 25px;
        cursor: pointer;
        font-weight: 700;
        font-size: var(--side-main-desktop);
        font-family: 'Ubuntu';
    }

    .btn-code:first-child {
        color: var(--red);
    }
}
