.nav-button {
    display: flex;
    flex-flow: row;
    background: #FFDDDD;
    border: 2px solid var(--red);
    border-radius: 25px;
    width: 90px;
    height: 29px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}

.nav-button:hover {
    cursor: pointer;
}

.next-icon{
    transform: rotate(180deg);
}

.hide-btn {
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .nav-button {
        width: 130px;
        height: 38px;
        font-size: 18px;
    }
}